body {
    font-family: Arial, sans-serif;
    
}

.hero {
    background-image: url('https://img.freepik.com/free-photo/nurse-measuring-patient-blood-pressure_53876-14933.jpg');
    background-size: cover;
    background-position: center;
    height: 92vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    
}

.hero .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.hero .content {
    position: relative;
    z-index: 2;
    text-align: center;
    max-width: 1200px; 
    margin: 0 auto; 
}

.navbar{
    z-index: 2;
}

.navbar-bg{
    background-color: #1A4075;
    color: #fff;
}

.btn-color{
    background-color: #0CAC99;
    color: #fff;
}

.btn-color:hover{
    background-color: #0CAC99;
    color: #fff;
}

.hero-title{
    font-weight: bold;
}

.about {
    padding: 50px 0;
}

.about-title{
    font-weight: bold;
    padding-bottom: 20px;
    
}

.about-img{
    border-radius: 20px;
}

.about-content-container {
    display: flex;
    justify-content: center; /* Center-aligns the content horizontally */
    align-items: center; /* Center-aligns the content vertically */
}


.steps .card-body {
    padding: 20px;
}

.steps .fa {
    color: #0CAC99;
}

.steps .card-title {
    font-size: 18px;
    font-weight: bold;
}

.steps .card-text {
    font-size: 14px;
    color: #6c757d;
}


.about-content {
    font-size: 16px; /* Font size for the text */
    line-height: 1.6; /* Line height for better readability */
    color: #333; /* Text color */
    text-align: justify; /* Justifies the text */
}

.steps {
    padding: 50px 0;
    background-color: #0b274d;
    
}

.lead{
    font-size: 16px;
    padding-left: 50px;
    padding-right: 50px;
}

.contact-bg {
    background-image: url("https://img.freepik.com/free-photo/doctor-making-phone-call_23-2147822687.jpg");
    background-size: cover;
    background-position: center;
    height: 100%; /* Ensure the column height matches the content */
    min-height: 550px; /* Set a minimum height to ensure visibility */
}


@media (min-width: 992px) {
    .contact-bg {
        height: 100%; /* Full height for larger screens */
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
