<!-- diabetes_prediction_report.html -->
{% extends 'base.html' %}
{% block title %}Diabetes Prediction Report{% endblock %}
{% block content %}
<div class="container diagcontainer d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow" style="width: 100%; max-width: 600px;">
        <div class="card-body">
            <h1 class="font-weight-bold text-center mb-4" style="color: #1A4075;">Diabetes Prediction Report</h1>
            <p><strong>Input Data:</strong></p>
            <ul>
                <li><strong>Pregnancies:</strong> {{ input_data.Pregnancies }}</li>
                <li><strong>Glucose:</strong> {{ input_data.Glucose }}</li>
                <li><strong>Blood Pressure:</strong> {{ input_data.BloodPressure }}</li>
                <li><strong>Skin Thickness:</strong> {{ input_data.SkinThickness }}</li>
                <li><strong>Insulin:</strong> {{ input_data.Insulin }}</li>
                <li><strong>BMI:</strong> {{ input_data.BMI }}</li>
                <li><strong>Diabetes Pedigree Function:</strong> {{ input_data.DiabetesPedigreeFunction }}</li>
                <li><strong>Age:</strong> {{ input_data.Age }}</li>
            </ul>
            <p><strong>Prediction Result:</strong> {{ result }}</p>
            <p style="font-size: 18px; color: #333;">Disclaimer: Note the predicted result is not 100% accurate so do consult a doctor before taking any precautions.</p>
            <div class="button-container text-center mt-4">
                <a href="/" class="btn btn-primary" style="background-color: #0CAC99; border-color: #0CAC99;">Home</a>
                <a href="{% url 'pdf_dia' %}?Pregnancies={{ input_data.Pregnancies }}&Glucose={{ input_data.Glucose }}&BloodPressure={{ input_data.BloodPressure }}&SkinThickness={{ input_data.SkinThickness }}&Insulin={{ input_data.Insulin }}&BMI={{ input_data.BMI }}&DiabetesPedigreeFunction={{ input_data.DiabetesPedigreeFunction }}&Age={{ input_data.Age }}"
                   class="btn btn-primary" style="background-color: #0CAC99; border-color: #0CAC99;">Download as PDF</a>
                <a href="booking" class="btn btn-primary" style="background-color: #0CAC99; border-color: #0CAC99;">Book Appointment</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
