<!-- bmi_calculator/templates/bmi_calculator/diabetes_form.html -->
{% extends 'base.html' %}
{% block title %}Diabetes Prediction Form{% endblock %}
{% block content %}
<div class="container diagcontainer d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="card shadow" style="width: 100%; max-width: 600px;">
        <div class="card-body">
            <h1 class="font-weight-bold text-center mb-4" style="color: #1A4075;">Diabetes Prediction Form</h1>
            <form action="daibres">
                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Pregnancies" style="color: #1A4075;">Pregnancies:</label>
                        <input type="number" name="Pregnancies" id="Pregnancies" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Glucose" style="color: #1A4075;">Glucose:</label>
                        <input type="number" name="Glucose" id="Glucose" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="BloodPressure" style="color: #1A4075;">Blood Pressure:</label>
                        <input type="number" name="BloodPressure" id="BloodPressure" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="SkinThickness" style="color: #1A4075;">Skin Thickness:</label>
                        <input type="number" name="SkinThickness" id="SkinThickness" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="Insulin" style="color: #1A4075;">Insulin:</label>
                        <input type="number" name="Insulin" id="Insulin" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="BMI" style="color: #1A4075;">BMI:</label>
                        <input type="number" name="BMI" id="BMI" class="form-control" style="border-color: #0CAC99;" required min="0" max="1000">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="DiabetesPedigreeFunction" style="color: #1A4075;">Diabetes Pedigree Function:</label>
                        <input type="number" name="DiabetesPedigreeFunction" id="DiabetesPedigreeFunction" class="form-control" style="border-color: #0CAC99;" required  min="0" max="1000">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="Age" style="color: #1A4075;">Age:</label>
                        <input type="number" name="Age" id="Age" class="form-control" style="border-color: #0CAC99;" required min="16" max="120">
                    </div>                    
                </div>
                <div class="text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" style="background-color: #0CAC99; border-color: #0CAC99;" >
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
