{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Medipredict{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-bg">
        <div class="container">
            <a class="navbar-brand font-weight-bold" href="{% url 'home' %}">Medipredict</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}#contact">Contact</a>
                    </li>
                    {% if request.session.user_id %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Welcome, {{ request.session.username }}
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'booking' %}">Appointment</a>
                            <a class="dropdown-item" href="{% url 'AI' %}">Report Test</a>
                            <a class="dropdown-item" href="{% url 'view' %}">List appointments</a>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                        </div>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'loginform' %}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'signup' %}">Sign Up</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer class="text-center text-lg-start text-white" style="background-color: #0b274d">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <h6 class="fw-bold">Medipredict</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #fff; height: 2px" />
                        <p>
                            Medipredict stands as a trailblazer in medical innovation, pioneering the integration of
                            advanced AI technology to revolutionize the healthcare landscape. Our platform offers a
                            comprehensive suite of features tailored to empower both individuals and healthcare providers.
                        </p>
                    </div>
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="fw-bold">Useful Links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #fff; height: 2px" />
                        <p>
                            <a href="#home" class="text-white">Home</a>
                        </p>
                        <p>
                            <a href="#about" class="text-white">About</a>
                        </p>
                        <p>
                            <a href="#contact" class="text-white">Contact</a>
                        </p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <h6 class="fw-bold">Team members</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #fff; height: 2px" />
                        <p>
                            <a href="#!" class="text-white">Nishanth</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Eyan</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Siddarth Pillai</a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <h6 class="fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 30px; background-color: #fff; height: 2px" />
                        <p><i class="fa fa-map-marker mr-3"></i> Medipredict</p>
                        <p><i class="fa fa-envelope mr-3"></i> Medipredict@gmail.com</p>
                        <p><i class="fa fa-phone mr-3"></i> 7506965139</p>
                    </div>
                </div>
            </div>
        </section>
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2024 Copyright:
            <a class="text-white" href="#">Medipredict</a>
        </div>
    </footer>

    <!-- Bootstrap scripts (jQuery and Bootstrap JS) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
